{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

<div class="content-wrapper">
    <h1>Hello {{ app.user.username }} ✅</h1>

    <a href="{{ path('profile_addKey') }}">Neuen key hinzufügen</a><br/>
    <a href="{{ path('profile_editKey') }}">Key bearbeiten</a>
</div>
{% endblock %}
