{% extends 'base.html.twig' %}

{% block title %}Zugewiesene Server{% endblock %}

{% block body %}
    <div class="content-wrapper" id="serverlist"
         data-remove-url="{{ path('profile_serverRemove', {'serverId': '-placeholder'} ) }}"
         data-assign-url="{{ path('profile_serverAssign', {'serverId': '-placeholder'} ) }}"
    >
        {% for server in servers %}
            <div data-controller="server">
                {{ server.name }}
                {% if server.id in assignedServerIds %}
                    <a href="#" data-serverid="{{ server.id }}" data-type="remove" data-server-target="link" data-action="server#handleClick">entfernen</a>
                {% else %}
                    <a href="#" data-serverid="{{ server.id }}" data-type="assign" data-server-target="link" data-action="server#handleClick">zuweisen</a>
                {% endif %}
            </div>
            <br/>
        {% endfor %}
    </div>
{% endblock %}


